node_modules/
dist/
.chaincss/
.chaincss-cache/
.chaincss-cache.tmp
.chaincss-webpack-tmp
*.class.js
*.class.ts

# temp / os
*.log
.DS_Store
.env
*.tgz
npm-debug.log*
*.bak
*.bck
*.tmp

# benchmarks
benchmarks/results/
benchmarks/node_modules/

# local playgrounds
demo/
demo-website/
review.md.chaincss-webpack-tmp